
/EndOfAnEra-AntiCrash/.vs/EndOfAnEra-AntiCrash.slnx/FileContentIndex
/EndOfAnEra-AntiCrash/obj/Debug/net6.0
/EndOfAnEra-AntiCrash/obj
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/EndOfAnEra-AntiCrash/.vs/EndOfAnEra-AntiCrash.slnx/DesignTimeBuild/.dtbcache.v2
/EndOfAnEra-AntiCrash/.vs/EndOfAnEra-AntiCrash.slnx/v18/.suo
